<!-- Sidebar - Brand -->

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="/admin/dashboard">
            <i class="fas fa-chart-line"></i
            ><i class="fa-solid fa-grid-horizontal"></i>
            <span>Dashboard</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/adminProducts">
            <i class="fas fa-shopping-bag"></i
            ><i class="fa-solid fa-grid-horizontal"></i>
            <span>Products</span></a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/admin/adminCategory">
            <i class="fas fa-bars"></i
            ><i class="fa-solid fa-grid-horizontal"></i>
            <span>Category</span></a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/admin/customers">
            <i class="fas fa-users"></i
            ><i class="fa-solid fa-grid-horizontal"></i>
            <span>Customers</span></a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/admin/orders">
            <i class="fas fa-compass"></i
            ><i class="fa-solid fa-grid-horizontal"></i> <span>Orders</span></a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-gift"></i
            ><i class="fa-solid fa-grid-horizontal"></i> <span>Coupons</span></a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-user"></i
            ><i class="fa-solid fa-grid-horizontal"></i>
            <span>Our Staff</span></a
          >
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

        <!-- Log Out Button -->
        <div class="text-center">
          <form action="/logout" method="POST">
            <div class="form-group">

              <input type="submit" class="btn btn-success btn-icon-split border-0 text form-control" value="Log Out">
            </div>
           
          </form>
        </div>
      </ul>
      <!-- End of Sidebar -->